/*********************************** COLORS ****************************************/

h1, h2, h3, h4, h5, h6 { margin: 0; }
body { background-color: #69C4CC; }
header { background-color: #CFEFEE; }
nav#main { background-color: #F3CECD; }
section { background-color: #FFFFFF; }
/*About Button: 75CBD1
/*Contact Button: 8CB72C
Blog button: 702C8E
Press Button: EB008C
Shop Now: EB008C*/


/***************** FONTS ***************************/
body {
	font-family: 'Oswald'; sans-serif;
	}

/* Basic Global Styles */

nav ul  {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}

footer ul {
	list-style-type: none;
	}

footer li {
	font-size: 12px;
	}



/*************  DESKTOP LAYOUT**************/

header {
  padding-top: 1em;
  text-align: right;
}
header nav#authentication {
  float: right;
}
header h1 {
  float: left;
}

body > section, header > section, nav#authentication, footer {
  margin: 0 5em;
  clear: right;
}

nav#main {
  text-align: center;
}
nav#main {
  padding: 0.5em;
}
nav#main ul {
  margin: 0;
}

body > section {
  padding: 1em;
}

section {
  clear: both;
}

.left_column, .right_column {
  width: 50%;
  float: left;
}

ul#children {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#children *{
  max-width: 100%;
}

ul#social {
  list-style-type: none;
  padding: 0;
  clear: both;
}

ul#social li {
  display: inline-block;
  margin-right: 5%;
}
ul#social img {
  max-width: 100%;
}

ul#social li:nth-child(4n) {
  margin-right: 0;
  clear: left;
}

footer li {
	text-align: center;
	float: left;
	margin-right: 2em;
	
	}
footer {
	display: inline-block;
	}
	
/************ADDITIONAL MODIFICATIONS FOR SMALL SCREEN LAYOUT ****************************************/

@media screen and (max-width: 700px) {
	body > section, header > section, nav#authentication, footer {
				margin: 0 2em;
	}
	ul#children {
			display: none;
	}	
}

/*****************LOGIN BOX**********************/

div.login-modal {
	display: none;  /*makes the login menu not appear when you first go the page*/
	}

.lightbox {
	background: black;
	position: fixed;   /*the window becomes the parent for the height and width*/
	top: 0;				/*the lightbox starts from the top*/
	height: 100%;		/*the height and width means it is taking up the whole page*/
	width: 100%;
	opacity: .5; 		/*you can still see a bit of the background homepage but its greyed out*/
	}

div.login-form {
	border: 2px solid pink;
	width: 200px;
	text-align: center;
	background: #69C4CC;
	
	margin: 150px 0 0 -150px;
	position: absolute;
	top: 0%;
	left: 50%;

	}








	
